body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(236, 223, 223);
    font-size: 18px;
    background-image: url(./imagens/pexels-aleksandar-pasaric-1694000.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.img-fundo{
width: 100%;
min-height: auto;
}
.containerNav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: transparent;
    flex-wrap: wrap;
    color: rgb(133, 138, 143);
}
.btn-header{
    display: flex;
    gap: 25px;
}
.btnNav{
    font-size: 20px;
    padding: 5px;
    border-radius: 8px;
    background-color: transparent;
    color: rgb(245, 223, 223);
    cursor: pointer;
    transition: 0.5s;
    border-color: transparent;
}
span{
    color: rgb(9, 121, 121);
}
.btnNav:hover{
    border-bottom: 2px solid rgb(240, 247, 246);
}
/*----Fim da NavBar----*/

.container{
    margin: 0 auto;
    width: 80%;
    background-color: transparent;
    backdrop-filter: blur(4px);
    border: 1px solid rgb(10, 194, 207);
    border-radius: 8px;
    padding: 15px 2%;
    color: white;
}

.intro{
    width: 60%;
    height: 400px;
    margin: 0 auto;
}

.txtIntro{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

.subTxt{
    font-size: 12px;
}

.btnIntro{
    width: 150px;
    padding: 12px;
    border-radius: 5px;
    border: 2px solid rgb(6, 168, 197);
    background: transparent;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
/*Fim da Intro!*/

.skills{
    width: 60%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-evenly;
    padding: 30px;
}

.txtSkills{
    width: 50%;
    height: 300px;
}

.img{
    width: 30%;
    height: auto;
    background-color: aqua;
    text-align: center;
    color: black;
}
/*Fim das Skills*/

.habilidades{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    padding: 30px;
}

/*Novo Layout*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(138, 133, 133);
    min-height: 100vh;
    color: rgb(12, 12, 12);
    margin: auto;
}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    width: 100%;
    height:100px;
    background-color: rgb(20, 20, 20);
    color: rgb(240, 232, 222); 
}

.caixaNav{
    margin: 0 auto;
}

nav button{
    margin: 0px 15px;
    padding: 15px;
    width: 100px;
    border: 2px solid rgb(18, 203, 209);
    border-radius: 12px;
    background-color: transparent;
    color: rgb(233, 238, 243);
    font-size: 18px;
    cursor: pointer;
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(48, 44, 44);
    width: 90%;
    min-height: 500px;
    border: 2px solid black;
    margin: auto;
    margin-top: 10px;
}

.box div{
    display: flex;
    justify-content: center;
    width: 45%;
    height: 300px;
    border: 1px solid black;
    background-color: rgb(201, 212, 221);
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 15px;
    width: 100%;
    height:100px;
    background-color: rgb(20, 20, 20);
    color: rgb(240, 232, 222);
}