*{
    padding: 0;
    margin: 0;
}
div{
    border: 1px solid red;
}

section{
    border: 1px solid green;
}

@media only screen and (max-width: 800px){

}
/*https://www.alura.com.br/artigos/css-guia-do-flexbox/*
/* -------------------------------------------- ALTERAÇÕES NAV --------------------------------------------*/
nav *{
    border-color: transparent;
}

nav{
    display:flex; /*alinha os elementos em linha*/
    flex-direction: row; /*elementos encaixados da esquerda para a direita*/
    flex-wrap: nowrap; /*Não quebra linha*/
    justify-content: space-between; /*faz com que os elementos fiquem 
    colados primeiro a esquerda e direita e depois vai alinhando ao centro*/
    align-items: stretch; /*faz com que os elementos filhos fiquem 
    da mesma altura*/
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    flex: 1;
}

nav div:first-child{
    display: flex;
    align-items: center;  
    color: #f51b6e;
}

nav div:last-child{
    padding: 10px;
    justify-content: center;
}

nav button{
    margin-right: 10px;
    background-color:  #f51b6e;
    border: 2px solid #f51b6e;
    
    padding: 10px;
    justify-content: space-between;
    color: black;
    font-family: 'Knewave', cursive;
    font-size: 16px;
}

nav button:active{
    background-color: black;
    color: #f51b6e;
}

/* -------------------------------------------- ALTERAÇÕES NAV --------------------------------------------*/